{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}">
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--add vue-->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    
    {% if title %}
        <title>My portal - {{ title }} </title>
    {% else %}
        <title>Django website</title>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!--add axios-->
    <script src="https://unpkg.com/vuex@3.4.0/dist/vuex.js"></script> <!--add vuex-->
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script> <!--vue validate-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>
<body>
    <div id="base">
        <header>
            <b-navbar class="mb-3" toggleable="lg" type="dark" variant="info">
                <b-navbar-brand>Poster portal</b-navbar-brand>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item href="{% url 'portal-homepage' %}">Home</b-nav-item>
                </b-navbar-nav>
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto">
                    {% if user.is_authenticated %}
                    <b-nav-item right href="{% url 'profile' %}">Profile</b-nav-item>
                    <b-nav-item right href="{% url 'logout' %}">Logout</b-nav-item>
                    {% else %}
                    <b-nav-item right href="{% url 'login' %}">Log in</b-nav-item>
                    <b-nav-item right href="{% url 'register' %}">Register</b-nav-item>
                    {% endif %}
                </b-collapse>
            </b-navbar>
        </header>
    </div>               
        {% block content %}

        {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
     var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#base',
            data: {
            test: 1,
            },
        })
        </script>
</body>
</html>