{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id='login'>
        <b-container fluid="md">
                <loginpage></loginpage>
        </b-container>
    </div>

<script>
        const Loginpage = {
                delimiters: ['[[', ']]'],
                data: function(){
                    return{
                        password:'',
                        user:'',
                    }
                },
                methods:{
                },
                template: `
                <b-row class="justify-content-center">
                    <b-col cols="4">
                         {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="d-flex flex-row justify-content-center">
                            <h2 class="mb-3">Login</h2>
                        </div>
                        <b-form method="POST">
                            <b-form-group
                                id="input-group-1"
                                label="Username:"
                                label-for="input-1"
                            >
                            {% csrf_token %}
                                <b-form-input
                                name="user"
                                id="input-1"
                                v-model="user"
                                type="text"
                                required
                                placeholder="Enter username"
                                ></b-form-input>
                        </b-form-group>
                        <b-form-group id="input-group-2" label="Password:" label-for="input-2">
                                <b-form-input
                                name="password"
                                id="input-2"
                                v-model="password"
                                required
                                type="password"
                                placeholder="Enter password"
                                ></b-form-input>
                        </b-form-group>
                            <div class="d-flex flex-row justify-content-center">
                            <b-button class="mt-2" size="sm" variant="info" type="submit">
                                Log in
                            </b-button>
                        </div>
                        </b-form>
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="text-muted mt-2">Need an account?<a class="ml-2" href="../register">Sign up here.</a></p>
                        </div>
                    </b-col>
                </b-row>
                `,
        }
            var app = new Vue({
            el: '#login',
            data: {
            },
            components:{ 
                Loginpage
            },
        })
        </script>
{% endblock content %}